extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent 
	+b.container
		+e.header
			div: img.log-1(src="img/svg/04.svg", alt="")
			div: img.log-2(src="img/@2x/logo-2.png", alt="")
			+e.label--lg.d-none.d-md-inline-flex О празднике
		+e.btn(href="#") Записаться
		+e.title Федерация бокса России организует  Рождественскую сказочную Ёлку!
		+e.label--sm В программе:
		ul
			li Каток с яркой подсветкой
			li Двухуровневая елка для катаний
			li Полевая кухня
			li Рождественские мастер-классы 
			li Кинотеатр
			li VR-зона
			li Спектакли
			li Танцы и забавы
			li Батуты
			li Полоса препятствий
			li Надувной ринг 
			li Гигантский бокс
			li Качели-самовар
			li Аттракционы
			li Катание на оленях, упряжках с хаски
			li Новогодние подарки
			li Угощения горячими блюдами и напитками
			li Русские забавы 
			li Метание валенками
			li Тематические фотозоны
			li Лазертаг
			li Арчеритаг
			li Рождественский вертеп
			li Звонница
		+e.foot.text-center Каждый ребенок сможет получить сладкий подарок и&nbsp;пообщаться с&nbsp;Дедом Морозом.
			br
			| Все аттракционы и&nbsp;представления&nbsp;&mdash; бесплатные!
		.row
			.col-lg-6 Адрес: Кременчугская улица, 42 (ЦЕНТР ПРОГРЕССА БОКСА)
			.col-lg-6 Режим работы площадки: 
				br
				| 29-31 декабря 2019, 2-8 января 2019 с 11:00 до 19:00
